extends ../layouts/common

block content

    h1
        span.mr-2 Users
        a.btn.btn-primary(href="/users/create") New

    .d-flex.align-items-center
        form.ml-auto(action="/users/search", class="d-flex", method="GET")
            input(class="form-control", name="q", type="text")
            button(class="btn btn-primary ml-2") Search
    table.table
        tr
            th Name
            th Phone
            th Actions
        each user in users
            tr
                td= user.name
                td= user.phone
                td
                    a.btn.btn-light(href="/users/" + user.id) View